<footer class="bg-gray-100 px-4">
<div class="flex flex-row justify-between items-center">
  <%= image_tag "logo.jpg", alt: 'logo.png', width: "200px", class: 'p-4' %>
  <div class="flex flex-row">
    <ul class="flex flex-row">
        <li class="p-2">
            products 
        </li>
        <li class="p-2">
            Events
        </li>
        <li class="p-2">
            News
        </li>
    </ul>
  </div>
</div>
</footer>
