<footer class="bg-gray-100 px-4">
<div class="flex flex-row justify-between items-center">
  <%= image_tag "logo.jpg", alt: 'logo.png', width: "200px", class: 'p-4' %>
  <div class="flex flex-row">
    <ul class="flex flex-row list-none">
        <li class="p-2">
          <%= link_to  "Events", products_path  %>
        </li>
        <li class="p-2">
          <%= link_to  "News", products_path  %>
        </li>
    </ul>
  </div>
</div>
</footer>
